<%# All Characters Index page %>
<%= paginate @characters %>

<h1 class="title">All Characters</h1>

<ol class="ml-5">
  <% @characters.each do |c| %>
    <li>
      <%= link_to c.name, c %>
    </li>
  <% end %>
</ol>
